#### sort()
> - 리스트 자체를 수정
> - tuple은 없다.

#### sorted()
> - 사본
> - tuple에 사용하면 list에 담아서 반환

In [7]:
ns = [("jang", 19), ("tae", 14), ('ddeock', 17)]

def age(t):
    return t[1]
ns.sort(key=age)
ns

def name(t):
    return t[0]
ns.sort(key=name)
ns

names = ["zzone", "ddeock", "kim"]
names.sort(key = len)
names

nums = [(3,1), (9,4), (2, 6)]
nums.sort(key=lambda t : t[0]+t[1], reverse=True)
nums

[(9, 4), (2, 6), (3, 1)]

In [11]:
nums = [(3,1), (9,4), (2, 6)]
cpy = sorted(nums, key=lambda t : t[0]+t[1], reverse=True)
nums, cpy

org = ('321', '214', '197')
cpy = tuple(sorted(org, key = lambda t : int(t[0])))
cpy

('197', '214', '321')

In [12]:
names = ["김쫀떡", "김루루", "홍햇살", "전쵸비"]
names.sort()
dnames = {}
i = 1
for n in names:
    dnames[i] = n
    i += 1
    
dnames

{1: '김루루', 2: '김쫀떡', 3: '전쵸비', 4: '홍햇살'}

In [15]:
names = ["김쫀떡", "김루루", "홍햇살", "전쵸비"]
eo = enumerate(names ,5)
for n in eo:
    print(n)
    
    
dnames = {k: v for k, v in enumerate(sorted(names), 1)}
dnames

(5, '김쫀떡')
(6, '김루루')
(7, '홍햇살')
(8, '전쵸비')

{1: '김루루', 2: '김쫀떡', 3: '전쵸비', 4: '홍햇살'}

#### 표현식
> - '_ %s_%s__' % (value, value)
> - 타입 지시자 = 서식 지시자 = conversion specifier
> - - %s: 문자열
> - - %d: 정수
> - - $f: 실수 -> %[flags][width][.precision]f

#### 메소드 호출
> - '_ {}_{}__'.format(value, value)

In [18]:
friends = [('Jung', 22), ('Hong', 23), ('Park', 24)]
for i in friends:
    print('My friends', i[0], 'is', i[1], 'years old')
    
s = 'My name is %s' % 'ddeock'
s

s = 'My name is %s, age %d, height %f' % ('ddeock', 5, 5.3)
s

My friends Jung is 22 years old
My friends Hong is 23 years old
My friends Park is 24 years old

'My name is ddeock, age 5, height 5.300000'

In [24]:
s = "%(name)s : %(age)d" % {'name': 'ddoeck', 'age': 5}
s

s = 'height: %.2f' % 3.14
s

s = 'height: %.6f' % 3.14
s

s = 'height: %07.2f' % 3.14
s

s = 'height: %-7.2f' % 3.14
s

'height:    3.14'

In [25]:
# 소수점 이하 셋째 자리까지 출력
# 10칸 확보
# 왼쪽으로 정렬
# 부호 정보 함께 출력(0보다 크면 + 붙여서)
s = 'height: %-+10.3f' % 3.14
s

'height: +3.140    '